
details {
	border: 1px solid tomato;
	padding: 0.5rem;
	border-radius: 0.5rem;
	color: white;
	display: grid;
	grid-template-rows: auto 1fr;
	gap: 0.5rem;

	summary {
		background-color: tomato;
		padding: 0.5rem;
		border-radius: 0.25rem 0.25rem 0 0;

		&::marker {
			color: white;
		}
	}

	section {
		display: grid;
		grid-template-rows: auto 1fr;
		gap: 0.25rem;
		padding: 0.5rem;
		font-size: 11px;
		color: black;

		header {
			font-size: 14px;
			color: rgba(0, 0, 0, 0.6);
		}
	}

	&:not([open]) {
		gap: 0;
		summary {
			border-radius: 0.25rem;
		}
	}
}
