<!--<div *ngFor="let logEntry of ">
	logEntry | json
</div>-->
@if (uiState) {
	@if (uiState.entities['my-logbook']; as logBook) {
		@switch (logBook._type) {
			@case ('LogBook') {
				<details>
					<summary>{{ logBook.state.header }}</summary>
					@for (logEntry of (logBook.state.logEntryBarIds); track logEntry) {
						<section>
							<span>{{ logEntry }}</span>
						</section>
					} @empty {
						<span>No Items</span>
					}
				</details>
			}
			@case ('LogEntryBar') {
				<span>Should be a log book</span>
			}
			@default {
				<span>Unkown case</span>
			}
		}
	}
}
